@font-face{
    font-family: Hijrnotes;
    src: url(/assets/Hijrnotes.ttf);
}

@font-face{
    font-family: MrsEaves;
    src: url(/assets/MrsEavesItalic_Italic.ttf);
}

*{
    font-family: MrsEaves;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a{
    text-transform: capitalize;
    text-decoration: none;
    color:#fff;
}

.flores1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.flores1 img {
    width: 20%;
}
.flores2 {
    position: absolute;
    top: 0;
    right: -1479px;
    z-index: 10;
}

.flores2 img {
    width: 20%;
}

a:hover{
    color:#fff;
}

a:visited{
    color: #fff;
}


.showcase{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    color: rgb(0, 0, 0);
    z-index: 1;
    transition: 0.5s;
}

.showcase.active{
    right: 300px;
}

.showcase header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url(https://cdn2.iconfinder.com/data/icons/clean-minimal-set/16/open-menu-01-512.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}

.toggle.active{
    background: url(https://cdn3.iconfinder.com/data/icons/e-commerce-simple-ui-elements/100/TWalsh__close1-512.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
}

#nulu {
    font-family: Hijrnotes;
    color: #111;
    cursor: pointer;
    font-size: 4em;  
    font-style: normal;
    font-weight: lighter;
    font-size: 5em;
    margin: auto;
}

.y {
    font-family: Hijrnotes;
    font-size: 1em;
    text-transform: lowercase;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    opacity: 0.8;
}

.text {
    position: absolute;
    z-index: 10;
}

.text h2 {
    font-size: 4rem;
    line-height: 1em;

}

.text h3 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}

.text p {
    font-size: 1.5em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}

.text a {
    display: inline-block;
    font-size: 1em;
    background: rgb(250, 144, 144);
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 20px;
    transition: 0.3s;
}
.text a:hover{
    letter-spacing: 6px;
}

.planning {
    position: absolute;
    bottom: 100px;
    z-index: 10;
    display: flex;
   
}

.planning li {
    list-style: none;
    margin-right: 20px;
    color: #111;
}

.planning li img{
    width: 50px;
    transition: 0.5s ease-in-out;
}

.planning li a {
    display: inline-block;
    margin-right: 40px;
}



.icon:hover{
    transform: translateY(-20px);
}

.menu{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/assets/kraft.PNG);
}

.menu ul {
    position: relative;
    list-style: none;
}

.menu ul li{
    padding: 20px;
}
.menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #111;
}

.menu ul li a:hover {
    color: rgb(255, 255, 255);
}
.contact-wrapper{
    z-index: 50;
    background-color: rgb(248, 238, 238);
    height: 600px;
    width: 600px;
    padding-left: 30px;
    border-radius: 20px;
    color: #111;
    position: relative;
    bottom: -75px;
    margin: auto;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.form__input{
    width: 60%;
    padding: 8px;
    box-sizing: border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    transition:all .3s;
    border-bottom:2px solid #bebed2;
}

label {
    font-weight:bold;
}

input[type=checkbox]{
    margin-right: 5px;
    margin-left: 5px;
}

input:focus{
    border-bottom:2px solid #78788c;
}
label:before{content:attr(type);display:block;margin:28px 0 0;font-size:14px;color:#5a5a5a}
button {
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:14px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 14px;
	text-decoration:none;
	text-shadow:0px 2px 0px #ffffff;
}
button:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
button:active {
	position:relative;
	top:1px;
}


@media (max-width: 910px){
    .showcase,
    .showcase header {
        padding: 40px;
    }

    #nulu {
        font-size: 2.25em;
        padding: 0;
    }
    .text h2{
        font-size: 3em;
        padding-bottom: 0.25em;
    }

    .text p{
        font-size: 1.25em;
    }

    .planning li a {
        display: inline-block;
        margin-right: 10px;
    }
    
}
    
